img {
    position: absolute;
    margin: 0px;
    z-index: 0;
}
p{
    margin: 0px;
}
#img_1{
    width: 497px;
    height: 320px;
    opacity: 75%;
    left: -90px;
    top: 0px;
}
#img_2{
    width: 1058px;
    height: 690px;
    rotate: 40deg;
    right: -300px;
    top: -100px;
    opacity: 80%;
}
body{
    margin: 0px;
}
.flexdiv{
    display: flex;
    justify-self: center; 
    margin: 45px 0px 0px;
}
h3{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal; 
    font-size: 90px; 
    z-index: 1;
    margin-bottom: 0px;
    justify-self: center;
}
.main_text{
    justify-self: center;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    position: relative;
    z-index: 1;
    font-family: "Raleway", sans-serif;
}
.main_text_date{
    justify-self: center;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    position: relative;
    z-index: 1;
    font-family: "Great Vibes", cursive;
}
.main_text_under_date{
    justify-self: center;
    text-align: center;
    padding-top: 30px;
    font-size: 21px;
    position: relative;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
.grid_container{
    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 50px 10px 20px;
    min-width: 500px;
    justify-self: center;
    justify-items: center;
    row-gap: 5px;
    column-gap: 30px;
}
#June{
    margin-top: 100px;
    justify-self: center;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    font-weight: bolder;
}
#fotos img{
    position: relative;
}
#fotos{
    display: flex;
    margin-top: 150px;
    justify-content: space-evenly;
}
.date_week, .number{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 45px;
}
#guests, #beg{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 90px;
    min-width: 800px;
    width: 800px;
}
#beg{
    margin-top: 40px;
}
.text_plan{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.text_more_plan{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 45px;
}
.flex_plan{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
#comment{
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    width: 500px;
}
.li_all{
    justify-self: center;
    font-size: 30px;
}
li{
    margin-bottom: 8px;
    list-style: "\2605";
    padding-left: 25px;
    margin-left: 50px;
}
#stick{
    font-size: 100px;
    text-align: center;
    justify-self: center;
    margin: 70px 0px 70px;
    font-family: 'Courier New', Courier, monospace;
}